.card {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  /* height: 20vmin; */
  width: 42vmin;
  float: left;
  padding: 10px;
}

img {
  width: 35vmin;
  height: 35vmin;
}

span {
  justify-content: left;
}
/* 
h6 {
  display: flex;
  justify-content: left;
} */

/* 

 #add-exercise {
  width: 200px;

 } */