.card {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  width: 42vmin;
  float: left;
  padding: 10px;
}

img {
  width: 35vmin;
  height: 35vmin;
}

span {
  justify-content: left;
}