h2 {
  color: white;
  font-weight: bold;
}

p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bree Serif';
}

.welcome-msg {
  font-size: 20px;
}

.welcome-img {
  height: 50vmin;
  width: 45vmin;
  /* max-width; */
  margin: 100px 0 ;
  border-radius: 10%;
  border: 5px solid grey;
}

